<!-- THIS FILE TAKES TWO IMAGES FROM THE USERS, SENDS TO THE SERVER AND REDIRECTS THE USERS TO PREDICTION ROUTE -->
{% extends 'base.html' %}

{% block content %}


    <h4> Upload two photos to verify them </h4>
            <!-- THIS FORM ACCEPTS TWO IMAGES AND SENDS TO THE SERVER ON CLICK OF VERIFICATION BUTTON -->
            <form action="/compare" method="POST" enctype="multipart/form-data">

              <ol>
              
              <h5> <li> Add First Image </li></h5>
              <br>
              <input type='file' class="joint" name='file1' />
              <img class="joint-img" src="#" width="250px" height="300px" alt="first image" />
              <br><br><br>
              <h5><li>Add Second Image</li></h5>
              <br>
              <input type='file' class="joint" name='file2' />
              <img class="joint-img" src="#" width="250px" height="300px" alt="second image" />
              <hr>
              <button type="submit" class="btn purple-gradient">Verify</button>

    </ol>
            </form>

            <hr class="my-4">

          <!-- THIS SCRIPT DYNAMICALLY DISPLAYS THE UPLOADED IMAGE FILE BESIDE THE INPPUT FIELD -->
          <script type="text/javascript">

            function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                           $(input).next('.joint-img').attr('src', e.target.result);
                       }

                reader.readAsDataURL(input.files[0]);
            }
            }

            $(".joint").change(function(){
                readURL(this);
            });


          </script>

        </div>

        <!-- SETTING THE LAYOUT -->
        <style media="screen">
          .mycontent{
            text-align: center;
            margin: auto;
            list-style-position: inside;
          }

          h4{
            font-weight: bold;
          }
          h5{
            font-weight: bold;
          }

        </style>


{% endblock %}
