{% extends 'base.html' %}

{% block content %}

<div class="alert alert-primary" role="alert">
    <strong>  <q cite="">To recognize you better is our goal!!</q> </strong>
    </div>
  
        <!-- Card deck -->
        <div class="card-deck">
  
          <!-- Card -->
          <div class="card mb-4">
  
            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="static/bg/2.jpg" width="400" height="200"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
  
            <!--Card content-->
            <div class="card-body">
  
              <!--Title-->
              <h4 class="card-title">Verify Yourself</h4>
              <!--Text-->
              <p class="card-text">The feature for performing verification task given two input images using SOTA Facial Recognition models.</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
             <a href="/compare"><button type="button" class="btn purple-gradient btn-md">Jump In</button>
             </a> 
            </div>
  
          </div>
          <!-- Card -->
  
          <!-- Card -->
          <div class="card mb-4">
  
            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="static/bg/3.jpg" width="400" height="200"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
  
            <!--Card content-->
            <div class="card-body">
  
              <!--Title-->
              <h4 class="card-title">Recognize Yourself</h4>
              <!--Text-->
              <p class="card-text">This feature for performing face recognition task on single image with as many faces and identify them using our database.</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <a href="/recog"><button type="button" class="btn purple-gradient btn-md">Jump In</button>
              </a>
            </div>
  
          </div>
          <!-- Card -->
  
          <!-- Card -->
          <div class="card mb-4">
  
            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="static/bg/1.jpg" width="400" height="200"  
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
  
            <!--Card content-->
            <div class="card-body">
  
              <!--Title-->
              <h4 class="card-title">Mark Your Attendance</h4>
              <!--Text-->
              <p class="card-text">This feature will allow you to capture and update your attendence in the database and also provide you with various stats.</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <a href="/capture"><button type="button" class="btn purple-gradient btn-md">Jump In</button>
              </a>
            </div>
  
          </div>
          <!-- Card -->
  
        </div>
        <!-- Card deck -->
   




{% endblock %}
