{% extends 'base.html' %}

{% block content %}

    <!-- <h5> verification: {{ result['verification'] }} Score: {{ result['score']}}</h5> -->

    {% if plot == "-1" %}
      
      <div class="alert alert-danger" role="alert">
        <strong> No faces detected! Please try again by adding valid images! </strong>
      </div>

    {% else %}  
    
    {% if result['verification'] %}
      <div class="alert alert-success" role="alert">
        <strong> Faces Successfully Verified! </strong>
      </div>

    {% else %}
      <div class="alert alert-danger" role="alert">
        <strong> Verification Failed! </strong>
      </div>
    {% endif %}

    <div class="alert alert-primary" role="alert">
    Cosine Distance: <strong>{{ result['distance'] }}</strong>. 
    Threshold Value: <strong>{{ result['threshold'] }}</strong>
    </div>

    <hr>
    <h5>Facial landmarks and bounding boxes are displayed in the following plot:</h5>
    <img src="static/plots/{{ plot }}" class="pred" style ="margin: auto">
   
    {% endif %}    
   
    <hr>
    <a href="/compare"><button type="button" class="btn purple-gradient">Click here to Try Again</button></a>   
    <hr>
{% endblock %}
