{% extends 'base.html' %}

{% block content %}

<div class="container mycontent">

    <div class="alert alert-primary" role="alert">
    <strong>  <q cite="">Meet Our Team</q> </strong>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4">
           <!-- Card -->
      <div class="card testimonial-card">

        <!-- Background color -->
        <div class="card-up indigo"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white">
          <img src="static/bg/Mitul.jpeg"  height = "200" width = "200" class="rounded-circle"
            alt="Mitul">
        </div>

        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">Mitul <br>Kataria</h4>
          <hr>
        </div>

      </div>
      <!-- Card -->
      </div>
      <div class="col mb-4">
           <!-- Card -->
      <div class="card testimonial-card">

        <!-- Background color -->
        <div class="card-up indigo"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white">
          <img src="static/bg/Awshesh.jpeg" height = "200" width = "200" class="rounded-circle"
            alt="Awshesh">
        </div>

        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">Awshesh Nath Sharma</h4>
          <hr>
        </div>

      </div>
      <!-- Card -->
      </div>
      <div class="col mb-4">
      <!-- Card -->
      <div class="card testimonial-card">

        <!-- Background color -->
        <div class="card-up indigo"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white">
          <img src="static/bg/Aniket.jpeg"  height = "200" width = "200" class="rounded-circle"
            alt="Aniket">
        </div>

        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">Aniket Singh Rajpoot</h4>
          <hr>
        </div>

      </div>
      <!-- Card -->
      </div>
      <div class="col mb-4">
        <!-- Card -->
      <div class="card testimonial-card">

        <!-- Background color -->
        <div class="card-up indigo"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white">
          <img src="static/bg/Vignesh.jpg"  height = "200" width = "200" class="rounded-circle"
            alt="Vignesh">
        </div>

        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">Vignesh Venkataraman</h4>
          <hr>
        </div>

      </div>
      <!-- Card -->
      </div>
    </div>

    </div>
    <!-- Card -->    


{% endblock %}