<!-- IT TAKES THE INFORMATION ABOUT REGISTERED USERS FROM SERVER SIDE AND DISPLAYS IT IN TABULAR FORMAT -->
{% extends 'base.html' %}

{% block content %}

<div class="alert alert-warning"><h5>Employees Registered to the system</h5></div>

<br>
  <div class="container text-center">
	<!-- TABLE CONTAINING ENTRIES OF USERS(EMPLOYEES) -->
  	<table class='table table-striped' border='1'>
	<!-- HEAD ROW -->
  	  <tr class='thead-dark'>
  	    <th scope="col">Employee ID</th>
  	    <th scope="col">Employee Name</th>
  	    <th scope="col">Position</th>
  	    <th scope="col">Department</th>
  	  </tr>

	<!-- ENTRIES -->
  	  {% for user in users %}
  	  <tr>
        {% for col in user %}
  	    <td>{{ col }}</td>
  	     {% endfor %}
  	  </tr>
  	  {% endfor %}
  	</table>
  </div>

{% endblock %}